* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.logo {
  width: 180px;
  margin-top: 20px;
}

img {
  text-align: center;
  widows: 100%;
}

ul {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.no-access,
.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.dashboard {
  background-color: white !important;
}

.dashboard .row .col-md-2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard .row .col-md-2 div {
  border-radius: 20px;
  background-color: #e5e5e5;
  padding: 30px;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .row .col-md-2 div a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  font-weight: bold;
}

.fa-user-times,
.dashboard .row .col-md-2 i {
  display: block;
  width: 100%;
  font-size: 150px;
  color: white;
}

.dashboard .row .col-md-2 i {
  color: #969696;
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.link,
.link:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.mr-auto {
  margin-left: calc(50% - 130px);
}

.navbar {
  padding: 0;
}

.home {
  background-image: url('../img/background-home.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 572px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-weight: bold;
}

nav {
  text-transform: uppercase;
  font-size: 12px;
  color: white !important;
}

nav i {
  text-transform: uppercase;
  font-size: 22px;
  color: white;
}

.dashbord a {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 11px;
  border: white solid 1px;
  z-index: 3000;
}

.dashbord i {
  font-size: 22px;
}

.sign-in a {
  position: absolute;
  top: 100px;
  right: 7px;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 3000;
}

.dashbord i {
  font-size: 22px;
}

.block-access {
  background-color: #76c2ad;
  min-height: 100vh;
}

input {
  overflow: visible;
  width: 20%;
  display: block;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #969696;
}

section h1 {
  color: #969696;
  margin-top: 50px;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: #77c2ad;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.modified-article input,
.create-article input {
  overflow: visible;
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #969696;
}

textarea {
  widows: 90% !important;
  padding: 10px;
}

label {
  display: none;
}

.create-article p {
  text-align: left;
  font-weight: bold;
  color: #76c2ad;
}

.create-article input {
  margin-bottom: 30px;
}

#form_content {
  width: 100%;
  height: 220px;
  border-radius: 10px;
}

.card {
  text-align: justify;
  padding: 20px;
  margin-bottom: 30px;
}

.card p {
  font-size: 11px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

.article h5 {
  font-size: 22px;
  font-weight: bold;
  color: #76c2ad;
}

.article i {
  font-size: 18px;
}

.row-article {
  text-align: center;
}

.fa-eye {
  color: #bcbcbc;
}

.fa-edit {
  color: #23b769;
}

.fa-trash-alt {
  color: #c61212;
}
